{% extends 'WoeWebBundle::layout.html.twig' %}

{% block body %}
    <div class="col-md-12 container event-holder">
        <div class="event-name frame clearfix">
            <h1 class="pull-left">{{ event.title }}</h1>

        </div>
        <div class="event-desc">
            <div class="event-price">Kaina: {{ event.priceMin }} - {{ event.priceMax }} Lt</div>
            <div class="event-place">Vieta: {{ event.location.name }} ({{ event.location.address }})</div>
            <div class="event-date">Renginio pradžia: {{ event.date|date('Y-m-d H:i') }}</div>
        </div>
        <div class="col-md-7">
            <div class="frame event-description">
                <div class="event-description-text">{{ event.description|nl2br }}</div>
            </div>

            <div id="event-info" class="frame">
                <div class="event-details">{{ event.information|nl2br }}</div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="event-image">
                <img src="{{ event.image }}">
            </div>
            <div class="event-buttons">
                <a class="btn btn-success event-tickets-button" href="{{ event.sourceUrl }}">Pirkti bilietus</a>
                <button class="btn btn-primary remind-button">Priminti apie renginį</button>
                <button class="btn btn-primary map-button">Rodyti žemėlapyje</button>
            </div>
        </div>
    </div>
{% endblock %}
