{{ form_start(form) }}
<div class="form-group">
    {{ form_label(form.email, 'El. paštas') }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control' }}) }}
</div>

<div class="form-group">
    {{ form_label(form.date, 'Prieš kiek dienų iki renginio pradžios norite gauti priminimą?') }}
    {{ form_widget(form.date, {'attr': {'class': 'form-control', 'min': 1, 'value': 1 }}) }}
</div>

<div>
    {{ form_widget(form.save, {'label': 'Priminti', 'attr': {'class': 'btn btn-default' }}) }}
</div>
{{ form_end(form) }}
